@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --base-color: #007EFF;
    --dark: #000;
    --dark-two: #151515;
    --white: #fff;
    --gray: #4B4B4B;
    --green: #2CBE00;
    --gray-s: #808285;
    --yellow: #FFC016;
    --animate: 0.5s ease;
    --light: #D4D4D4;
}

.text-gray-s {
    color: var(--gray-s);
}

.text-base {
    color: var(--base-color);
}

.text-gray {
    color: var(--gray);
}

.text-light {
    color: var(--light);
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background: #F6F9FB;
    direction: rtl;
    font-family: 'Ravi' !important;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: 'Ravi' !important;
}

.prs-container {
    max-width: 1300px;
    padding-inline: 2rem;
    margin-inline: auto;
}

@font-face {
    font-family: Ravi;
    font-style: normal;
    font-weight: normal;
    src: url('../../public/assets/assets/Ravi FaNum/Webfonts/woff/RaviFaNum-Regular.woff') format('woff'),
    url('../../public/assets/assets/Ravi FaNum/Webfonts/woff2/RaviFaNum-Regular.woff2') format('woff2');
}


@font-face {
    font-family: RaviBold;
    font-style: normal;
    font-weight: 400;
    src: url('../../public/assets/assets/Ravi FaNum/Webfonts/woff/RaviFaNum-SemiBold.woff') format('woff'),
    url('../../public/assets/assets/Ravi FaNum/Webfonts/woff2/RaviFaNum-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: RaviBoldX;
    font-style: normal;
    font-weight: 900 !important;
    src: url('../../public/assets/assets/Ravi FaNum/Webfonts/woff/RaviFaNum-Bold.woff') format('woff'),
    url('../../public/assets/assets/Ravi FaNum/Webfonts/woff2/RaviFaNum-Bold.woff2') format('woff2');
}

@font-face {
    font-family: RaviExtra;
    font-style: normal;
    font-weight: 950;
    src: url('../../public/assets/assets/Ravi FaNum/Webfonts/woff/RaviFaNum-ExtraBlack.woff') format('woff'),
    url('../../public/assets/assets/Ravi FaNum/Webfonts/woff2/RaviFaNum-ExtraBlack.woff2') format('woff2');
}

@font-face {
    font-family: RaviMeduim;
    font-style: normal;
    font-weight: 950;
    src: url('../../public/assets/assets/Ravi FaNum/Webfonts/woff/RaviFaNum-Medium.woff') format('woff'),
    url('../../public/assets/assets/Ravi FaNum/Webfonts/woff2/RaviFaNum-Medium.woff2') format('woff2');
}

.extraBold {
    font-family: RaviExtra !important;
}

.bolX {
    font-family: RaviBoldX !important;
}

.RaviBold {
    font-family: 'RaviBold' !important;
}

.medium {
    font-family: RaviMeduim !important;
}

.text-normal {
    font-size: 13px;
}

.text-small {
    font-size: 12px;
}

.fs-16 {
    font-size: 16px !important;
}

.mx-auto {
    margin-inline: auto;
}

.title-website {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    h2 {
        font-size: 22px;
        color: var(--dark);
        margin: 0;
        font-family: RaviExtra !important;
    }
}

.title-website-s {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    h2 {
        font-size: 22px;
        color: var(--dark);
        margin: 0;
        font-family: RaviExtra !important;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            height: 2px;
            width: 105%;
            background: var(--yellow);
            opacity: 0.9;
            rotate: -3deg;
            top: 15px;
            z-index: -1;
        }
    }
}

.title-website-col {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    gap: 12px;

    h2 {
        font-size: 22px;
        color: var(--dark);
        margin: 0;
        font-family: RaviExtra !important;
    }
}

/*header*/
.header {
    .box-header {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: -2px;
            width: 97%;
            height: 4px;
            background: var(--dark);
            border-radius: 6px;
        }

    }

    .menu-header {
        .p-link {
            position: relative;
            cursor: pointer;
            transition: var(--animate);

            &:hover {
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -3px;
                    padding: 3px;
                    border-radius: 50%;
                    background: var(--base-color);
                }

                .link {
                    color: var(--base-color);
                    font-weight: 700;
                }
            }
        }
    }

    .btn-auth {
        border-radius: 10px;
        padding: 0 1rem;
        height: 40px;
        border: 2px solid var(--dark);
        transition: var(--animate);

        &:hover {
            background: var(--dark);
            color: var(--white);
        }
    }
}

.btn-base {
    transition: var(--animate);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 15px;
    font-family: 'RaviBold' !important;

    &:hover {
        svg {
            path {
                fill: var(--dark);
            }
        }
    }
}

.btn-base-two {
    transition: var(--animate);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 15px;
    font-family: 'RaviBold' !important;

    &:hover {
        svg {
            path {
                fill: var(--dark);
            }
        }
    }
}

/*s-main*/
.s-main {
    .p-main {
        .row-option {
            border-top: 1px solid var(--light);
            width: 70%;

            .option {
                span {
                    color: var(--gray);
                    font-family: 'RaviBold' !important;
                }
            }
        }

        .box-video {
            height: 500px;
            border-radius: 35px;
            background: var(--white);
            width: 85%;
            position: relative;

            .play-video {
                outline: none;
                border: none;
                background: unset;
            }

            .img-arrow {
                position: absolute;
                bottom: -79px;
                left: 0;
            }
        }
    }
}


/*s-Building-store*/
.s-Building-store {
    .line-s2 {
        position: absolute;
    }

    .box-building {
        border-radius: 30px;
        height: 150px;

        .floating-box {
            transform: translateY(-40px);
        }

        h3 {
            font-size: 15px;
        }
    }

    .box-more-features {
        width: 48%;
    }
}


/*box-store-swiper*/
.p-swiper {
    .box-store {
        height: auto;
        background: var(--white);
        border-radius: 30px;

        .logo-store {
            background: #F6F9FB;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            transform: translateY(-50px);

            .img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }
        }
    }

    .next-button {
        right: -55px;
    }

    .prev-button {
        left: -55px;
    }

    .swiper-slide {
        opacity: 0.5;
        scale: 0.9 .9;
        transition: var(--animate);
    }

    .swiper-slide-active {
        opacity: unset !important;
        scale: 1.1 !important;
    }
}


/*s-create-store*/
.s-create-store {
    background: url("../../public/img/view/png/bg-create-store.png");
    width: 100%;
    height: 620px;
    background-size: contain;
    margin: 2rem 0;

    .p-create-store {
        position: relative;
        top: 35px;
    }

    .list-create-store {

        width: 90%;

        .top-list {
            .item-store {
                width: 26%;
            }
        }

        .bottom-list {
            flex-direction: row-reverse;

            .item-store {
                width: 26%;
            }
        }
    }

    .btn-base-create-store {
        width: 30%;
    }

    .img-between-rotate {
        left: -100px;
    }
}

/*s-create-store*/


/*s-plans*/
.s-plans {
    .thumbnail-plan-special {
        border: 2px solid var(--dark) !important;

        .polygon-circle {
            background: var(--dark);
        }

        .btn-base-two {
            background: var(--dark);
            color: var(--white);

            svg {
                path {
                    fill: var(--white);
                }
            }
        }
    }

    .thumbnail-plan {
        height: 635px;
        border-radius: 30px;
        transition: var(--animate);
        border: 2px solid var(--white);
        cursor: pointer;

        .detail-top {
            height: 65px;
        }

        &:hover {
            border: 2px solid var(--dark);

            .polygon-circle {
                background: var(--dark);
            }

            .btn-base-two {
                background: var(--dark);
                color: var(--white);

                svg {
                    path {
                        fill: var(--white);
                    }
                }
            }
        }

        .polygon-circle {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            top: -45px;
            border: 9px solid #F6F9FB;
            transition: var(--animate);
        }

        .text-s {
            color: #FF162A;
        }
    }
}

/*s-plans*/


/*s-support*/
.s-support {
    height: 450px;
    border-top: 2px dashed var(--light);
    border-bottom: 2px dashed var(--light);
    margin: 3rem 0;

    .col-support {
        border-left: 2px dashed var(--light);
        height: 450px;

        .box-tel {
            width: 42%;
            height: 42px;
            border: 2px solid var(--dark);
            background: #FFC016;
            border-radius: 8px;
        }

        .box-telegram {
            width: 42%;
            height: 42px;
            border: 2px solid var(--dark);
            background: var(--base-color);
            border-radius: 8px;
            color: var(--white);
        }
    }

    .faq-thumbnail {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 14px 12px;

        .arrow {
            transition: var(--animate);
        }

        .arrow-active {
            transition: var(--animate);
            rotate: 180deg;
        }

        .answer-faq {
            border-top: 1px solid #C6C6C6;

            .text {
                line-height: 22px;
            }
        }
    }
}

/*s-support*/


/*s-blog-index*/
.s-blogs {
    .thumbnail-blog {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        height: 160px;
        border-radius: 30px;
        padding: 12px;

        .img-blog {
            width: 34%;
            height: 100%;
            border-radius: 30px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .detail-blog {
            width: 63%;
        }

        .title-blog {
            color: #3E3E3E;
            height: 50px;

            a {
                color: #3E3E3E;
            }
        }
    }
}


/*footer*/
.footer {
    .box-contact {
        width: 30%;
        height: 280px;
        border-radius: 30px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        .item {
            span {
                color: #272E37;
            }
        }
    }

    .left {
        width: 67%;
    }

    .aparat {
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }

    .telegram, .instagram {
        width: 180px;
        height: 40px;
        border-radius: 10px;

        span {
            color: #272E37;
        }
    }

    .box-enamad {
        width: 100px;
        height: 130px;
        border-radius: 20px;
        background: #F2F2F2;
        margin-top: 1rem;
    }

    .bottom-footer {
        border-top: 1px solid var(--light);

    }
}

.show-desktop {
    display: flex;
    justify-content: center;
}

.show-mobile {
    display: none;

}

@media only screen and (min-width: 501px) and (max-width: 900px) {
    .show-desktop {
        display: none !important;
    }

    .show-mobile {
        display: flex !important;
        justify-content: center;
    }

    .s-create-store {
        width: 100%;
        height: auto !important;
        background-size: cover !important;
        background-repeat: no-repeat;
        padding: 0;
        margin-top: 0;

        .p-create-store {
            position: unset;
            padding-top: 2rem;

            .btn-base-create-store {
                margin-top: 2rem;
                width: 40%;
                font-size: 13px;
            }
        }

        .top-list {
            .item-store {
                width: 100% !important;

                .p-number {
                    justify-content: center !important;
                    gap: 12px;

                    strong {
                        font-size: 30px !important;
                    }
                }
            }
        }

        .bottom-list {
            flex-direction: column !important;

            .item-store {
                width: 100% !important;

                .p-number {
                    justify-content: center !important;
                    gap: 12px;

                    strong {
                        font-size: 30px !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .show-desktop {
        display: none !important;
    }

    .show-mobile {
        display: flex !important;
        justify-content: center;
    }

    .flex-mobi-col {
        flex-direction: column !important;
    }

    .prs-container {
        padding-inline: 12px;
    }

    .title-website {
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 18px;
        }
    }

    .title-website-col {
        h2 {
            font-size: 18px;
        }
    }

    .header {
        position: relative;
        height: 75px;
        width: 100%;
        background: var(--white);
        border-radius: 15px;

        &:before {
            content: '';
            position: absolute;
            top: -2px;
            width: 90%;
            height: 3px;
            background: var(--dark);
            border-radius: 6px;
        }

        .btn-auth {
            height: 30px;
            font-size: 11px;
        }
    }

    .p-main {
        .text-main {
            width: 100%;

            .btn-base {
                width: 65%;
                font-size: 13px;
                border-radius: 10px;

                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .row-option {
            width: 100% !important;
            border-top: none !important;
            position: relative;

            &:before {
                content: '';
                width: 80%;
                border-top: 1px solid var(--light);
            }

            .option:first-child {
                display: none;
            }

            .option {
                gap: 4px;

                svg {
                    width: 17px;
                    height: 17px;
                }

                span {
                    font-size: 11px !important;
                }
            }
        }

        .video-main {
            width: 100%;
            margin-top: 1rem;

            .box-video {
                height: 250px;
                width: 100%;

                .play-video {
                    svg {
                        width: 60px;
                        height: 60px;
                    }
                }
            }

            .img-arrow {
                display: none;
            }
        }
    }

    .list-building {
        padding: 2rem 1rem 0 0 !important;
        overflow-x: scroll;
        margin-top: 2rem;
        width: 100%;
        display: flex;

        .box-building {
            width: 250px;

            .floating-box {
                width: 250px;

                h3 {
                    font-size: 13px;
                }

                span {
                    font-size: 11px;
                }
            }
        }
    }

    .box-more-features {
        width: 100% !important;

        span {
            font-size: 12px;
        }

        .btn-base-two {
            font-size: 11px;
            padding-inline: 7px;
        }
    }

    .s3 {
        border-top: 2px dashed var(--light);
        padding-top: 1.5rem;
        margin-top: 3rem;

        .row-description {
            padding: 0 1rem;

            p {
                font-size: 13px;
            }
        }

        .box-store {
            width: 95%;
            margin-inline: auto;
        }
    }

    .p-s3 {
        overflow: hidden;

        .p-swiper {
            justify-content: center !important;

            .swiper {
                width: 93% !important;


            }

            .next-button {
                position: relative;
                right: -10px;
                z-index: 2;
                width: 2%;

                svg {
                    scale: 0.9;
                }
            }

            .prev-button {
                position: relative;
                left: 45px;
                z-index: 2;
                width: 2%;

                svg {
                    scale: 0.9;
                }
            }
        }

        .box-store {
            .logo-store {
                width: 100px;
                height: 100px;
            }

            .row-title {
                h3 {
                    font-size: 13px !important;
                }

                .link-store {
                    font-size: 11px;
                }
            }

            .row-description {
                p {
                    font-size: 11px !important;
                }
            }
        }

        .swiper-slide-active {
            scale: 1 !important;
        }
    }


    .s-create-store {
        width: 100%;
        height: auto !important;
        background-size: cover !important;
        background-repeat: no-repeat;
        padding: 0;
        margin-top: 0;

        .p-create-store {
            position: unset;
            padding-top: 2rem;

            .btn-base-create-store {
                margin-top: 2rem;
                width: 80%;
                font-size: 13px;
            }
        }

        .top-list {
            .item-store {
                width: 100% !important;

                .p-number {
                    justify-content: center !important;
                    gap: 12px;

                    strong {
                        font-size: 30px !important;
                    }
                }
            }
        }

        .bottom-list {
            flex-direction: column !important;

            .item-store {
                width: 100% !important;

                .p-number {
                    justify-content: center !important;
                    gap: 12px;

                    strong {
                        font-size: 30px !important;
                    }
                }
            }
        }
    }

    .list-plans {
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 3rem 1rem 8px 0;
        margin-top: 1rem !important;

        .thumbnail-plan {
            width: 250px;
            height: auto !important;

            .detail-top {
                height: auto;
                width: 250px;
            }

            .btn-store-free {
                font-size: 10px;
                margin: 1rem 0 0 0;
                padding: 11px;
                width: 65%;
                gap: 8px;

                svg {
                    position: unset;
                }
            }

            .features-list {
                width: 250px;
                padding: 0 8px 1rem 8px !important;
            }
        }

    }

    .s-support {
        height: auto;

        .p-support {
            display: flex;
            flex-direction: column-reverse;

            .col-support {
                height: auto;
                border: none;
                padding: 1rem 0 2rem 0;

                .description {
                    font-size: 11px;
                    width: 80% !important;
                    margin-top: 2rem !important;
                }

                .box-tel, .box-telegram {
                    width: 72%;
                }
            }

            .list-faq {
                padding: 0 8px;

                h4 {
                    font-size: 12px;
                }
            }
        }
    }

    .s-blogs {
        .thumbnail-blog {
            box-shadow: unset;
            height: 140px !important;

            .img-blog {
                width: 38% !important;
            }

            .detail-blog {
                width: 60% !important;
            }
        }

        .swiper {
            width: 90%;
        }

        .next-button {
            right: -15px;
            scale: 0.95;
        }

        .prev-button {
            left: -15px;
            scale: 0.95;
        }
    }

    .top-footer {
        .box-contact {
            width: 100% !important;
        }

        .left {
            width: 100% !important;
        }
    }

    .bottom-footer {
        flex-direction: column;

        .start {
            align-items: center;

            span {
                text-align: center;
            }
        }
    }

    .footer {
        padding: 0 8px;

        .btn-back-to-up {
            width: 45px;
            top: -15px;
        }

        .left-col {
            width: 50%;

            .box-enamad {
                width: 50%;
                border-radius: 10px !important;

                img {
                    width: 60px;
                }
            }
        }

        .telegram, .instagram {
            width: 100%;
        }
    }
}


/*featuresPage*/
.featuresPage {
    .border-row-one {
        .img-left {
            bottom: -10px;
            left: 6rem;
        }

        .img-right {
        }
    }

    .box-building {
        border-radius: 30px;
        height: 150px;

        .floating-box {
            transform: translateY(-40px);
        }

        h3 {
            font-size: 15px;
        }
    }

    .row-three {
       .box-img{
           border-radius: 50px;
       }
    }
    .list-extensions{
        .item{
            .label{
                border-radius: 512px;
                background: #F2F2F2;
            }
        }
    }
    .faq-thumbnail {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 14px 12px;

        .arrow {
            transition: var(--animate);
        }

        .arrow-active {
            transition: var(--animate);
            rotate: 180deg;
        }

        .answer-faq {
            border-top: 1px solid #C6C6C6;

            .text {
                line-height: 22px;
            }
        }
    }
}
